<a href="https://colab.research.google.com/github/Luis-Amagua/Introduccion_Python/blob/main/1_Introducci%C3%B3n_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de Variables

## Variables numericas

In [1]:
x=12
print(x)

In [2]:
y=13.5
print(y)# variables de punto flotante

13.5

In [3]:
type(y)# se muestra em tipo de dato de una variable

float

## Casteo de variables numéricas
Castear una variable se cambia el tipo de una variable

In [8]:
x=4.6       #tipo float
z=int(x)    #tipo entero
print(z)
print(type(z))

4
<class 'int'>

In [7]:
round(x)    # redondear la variable

5

In [11]:
x=4         #entero
z=float(x)  #float
type(z)

float

## Operaciones entre variables

In [20]:
x=17
y=3

print(x+y)   # suma
print(x-y)   #resta
print(x*y)   #producto
print(x/y)   #division
print(x//y)  # division solo enteros
print(x%y)   # residuo del cociente
print(x**y)  #potencia
print(16**(1/2)) # NO HYA RAIZ CUADRADA, pero se puede usar la potencia

20
14
51
5.666666666666667
5
2
4913
4.0

## Variables Booleanas

In [21]:
4>2

True

In [23]:
4==5 # operador de comparacion

False

In [26]:
x=True 
y=False
print(x)
print(y)

True
False

In [32]:
a=True
b=False

print(a and b) #(devuelve la conjuncion de a y b)
print(a or b) # devuelve la disyuncion de a y b

False
True

## Strings

In [34]:
saludo="hola mundo"
print(saludo)
print(type(saludo))

hola mundo
<class 'str'>

In [42]:
nombre= "Luis Amagua"
ciudad= "Quito"
edad=30

saludo= f"Hola mi nombre es {nombre} soy de la ciudad de {ciudad} y tengo {edad} años"
print(saludo)

Hola mi nombre es Luis Amagua soy de la ciudad de Quito y tengo 30 años

In [43]:
"Hola mi nombre es " +nombre+ " soy de la ciudad de " + ciudad

'Hola mi nombre es Luis Amagua soy de la ciudad de Quito'

In [46]:
nombre= "Luis Amagua"
print(nombre.upper())  # cambia todo a mayusculas
print(nombre.lower())  # cambia todo a minusculas

LUIS AMAGUA
luis amagua

## Almacenar valores desde el usuario

In [50]:
nombre =input("Ingresa el nombre: ")
print(nombre.lower())

Ingresa el nombre: LuiS AmAgua
luis amagua

In [74]:
edad=int(input("Ingresa tu edad(en numeros): "))
print(type(edad))

Ingresa tu edad(en numeros): 33
<class 'int'>