<a href="https://colab.research.google.com/github/Luis-Amagua/Introduccion_Python/blob/main/2_Listas%2Ctuplas%2Cdiccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

In [8]:
lista=[3,"hola",3.5, True] # diferentes tipos de datos
type(lista)

list

In [9]:
print(lista[0])    # primer elemento
print(lista[-1])   # ultimo elemento

3
True

In [13]:
lista=[10,20,30,40,50,60,70,80,90,100]

print(lista[2:5])   # NO SE INCLUYE EL ULTIMO ELEMENTO
print(lista[2:-2])  # NO SE INCLUYE EL ULTIMO ELEMENTO

[30, 40, 50]
[30, 40, 50, 60, 70, 80]

# Operaciones de listas

In [16]:
lista1=[10,20,30]
lista2=[4,5,6]

print(lista1+lista2)      # se agrega al final
print(5*lista2)           # se repite 5 veces la lista

[10, 20, 30, 4, 5, 6]
[4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [22]:
lista=[10,20,30,40,50,60,70,80,90,100]
len(lista)   # longitud de la lista

lista.append(110) # se agrega un elemento al final de la lista
print(lista)

lista.insert(5,-100) # inserto en la posicion "-5" el valor de "-100"
print(lista)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
[10, 20, 30, 40, 50, -100, 60, 70, 80, 90, 100, 110]

In [32]:
lista=[10,20,30,40,50,60,70,80,90,100]
lista.pop(5) # elimino el elemento de la posicion 5
lista

# otra forma de eliminar en particular
lista.remove(70) # elimino el valor 70, no importa la posicion que est√°
print(lista)

[10, 20, 30, 40, 50, 80, 90, 100]

In [34]:
lista=[40,50,12,14,98,34,-20]
lista[2]=-12   # reemplaza valores en la lista
print(lista)

[40, 50, -12, 14, 98, 34, -20]

In [40]:
lista.sort()  # ordeno ascendente
print(lista)

lista.reverse() # ordenado al reves (NO NECESARIAMENTE ASC O DESC)
print(lista)

[-20, -12, 14, 34, 40, 50, 98]
[98, 50, 40, 34, 14, -12, -20]

## Mutabilidad de listas

In [42]:
lista=[1,2,3,4,5]
lista[2]=4         # puedo reemplazar los elementos es MUTABLE
print(lista)

[1, 2, 4, 4, 5]

In [46]:
lista="Hola mundo"
print(lista[2])           # devuelve el segundo elemento
lista[2]="a"              # no se puede reemplazar, no es una lista, no es mutable

l

TypeError: ignored

# Tuplas y sets

In [51]:
tupla=(10,20,30,40,50)
print(tupla[0])   #primer elemento
print(tupla[-1])  #ultimo elemento

10
50

In [53]:
tuplas[1]=1 # las tuplas NO SON MUTABLES, no se puede reemplazar valores para modificar

NameError: ignored

In [54]:
# utilidad de tuplas

a=4
b=5
a,b

(4, 5)

In [58]:
tupla=a,b    #ventaja respecto a las listas
print(a,b)
print(type(tupla))

4 5
<class 'tuple'>

In [64]:
tupla =40,50,60
print(tupla)
print(type(tupla))

lista=list(tupla)
print(lista)

# como es una lista podemos cambiar(MUTABLE)
lista[1]=-1
print(lista)

# hacemos un CASTEO(cambiar tipo de dato)
tupla=tuple(lista)
print(tupla)

(40, 50, 60)
<class 'tuple'>
[40, 50, 60]
[40, -1, 60]
(40, -1, 60)

## Asignacion multiple

In [69]:
a,b,c=3,4,5

x,y,z=[1,2,3],"HOLA",True
print(x)
print(y)
print(z)

[1, 2, 3]
HOLA
True

# Conjuntos

In [75]:
herramientas_DS={"python","R","sql","spark"} # no tienen ningun orden
type(herramientas_DS)

herramientas_DS.add("Excel")
print(herramientas_DS)

{'sql', 'R', 'Excel', 'python', 'spark'}

## Operacioes entre conjuntos

In [80]:
herramientas_DS={"python","R","sql","spark"}  
herramientas_DE={"python","R","sql","AWS","Tableau"}

print(herramientas_DS.intersection(herramientas_DE))

print(herramientas_DE.union(herramientas_DS))

print(herramientas_DS.difference(herramientas_DE))

{'python', 'sql', 'R'}
{'AWS', 'sql', 'Tableau', 'R', 'python', 'spark'}
{'spark'}

# Diccionarios