<a href="https://colab.research.google.com/github/Luis-Amagua/Introduccion_Python/blob/main/3_Bucles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sentencia IF

In [ ]:
# escribir un programa que indique si un numero es par

num=int(input("Escribir un número entero: "))

if num%2==0:            #el residuo de dividir num para 2 debe ser 0, entonces es PAR
  print("numero par")
else:
  print("numero impar")

Escribir un número entero: 13
numero impar

# Sentencia ELIF
If...elif...else

In [ ]:
pokemon_rival="Mewt"

if pokemon_rival=="charmander":
  nuestro_pokemon="squirtle"
elif pokemon_rival=="squirtle":
  nuestro_pokemon="bulbasor"
elif pokemon_rival =="bulbasor":
  nuestro_pokemon="charmander"
else:
  nuestro_pokemon="pikachu"

print(f"{nuestro_pokemon} yo te elijo!")

pikachu yo te elijo!

In [ ]:
# escribir un programa que indique la generacion correspondiente para un año de nacimiento indicado

año=int(input("Ingrese el año de nacimiento: "))


if año>=1920 and año<=1940:
  print("Es de la generacion silenciosa")
elif año>=1946 and año<=1964:
  print("Es de la generacion Boomer")
elif año>=1965 and año<=1979:
  print("Es de la generacion X")
elif año>=1980 and año<=2000:
  print("Es de la generacion Y")
elif año>=2001 and año<=2010:
  print("Es de la generacion Z")
else:
  print("No tiene asignado una generacion")

Ingrese el año de nacimiento: 2005
Es de la generacion Z

# If anidados

**Determinar si se va a entregar un credito a un cliente de un banco**

El cliente debe ser mayor de edad
debe tener una antiguedad de alenos 3 años
ingreso mayor a $2500

sino tiene la antiguedad suficiente, su ingreso mensual debe ser almenos 4000

sino cumple ninguna de las condiciones no se aprueba el credito

In [ ]:
edad=22
antiguedad=1 #años
ingresos=4000

if edad >=18:
  if(antiguedad>=3 and ingresos>=2500):
    prestamo="Prestamo Aprobado"
  elif(ingresos>=4000):
    prestamo="Prestamo Aprobado"
  else:
    prestamo="Prestamo NO Aprobado"
prestamo

'Prestamo Aprobado'

In [ ]:
diccionario = {'nombre': 'Antonio', 'cargo': 'Data Engineer'} 
if 'nombre' in diccionario.keys(): 
  print(diccionario['nombre'])

Antonio

In [ ]:
diccionario = {'lista': [10, 20 ,30, 40, 50], 'valor' : [20, 10, 30]}

In [ ]:
diccionario['valor'][1]

10

# Bucles
## While

In [3]:
# imprime los números enteros menores a 10

n=1            # valor inicial
while n < 10:
  print(n) 
  n=n+1

1
2
3
4
5
6
7
8
9

In [5]:
n  # es el úlimo número, no se imprime porque no cumple la condición

10

In [10]:
# Calcula la suma deuna cantidad d enumeros enteros ingresados por el usuario

suma=0     #valor inicial
continuar= True #flags de salida

while continuar:
  numero=input("Ingrese un numero ('exit' para terminar):")
  if numero=='exit':
    continuar=False
  else:
    numero=int(numero)
    suma=suma+numero
print(f"La suma es {suma}")

Ingrese un numero ('exit' para terminar):4
Ingrese un numero ('exit' para terminar):exit
La suma es 4

# While break

In [12]:
# break sirve para salir a traves de una condicion interna

numero=1

while numero < 10:
  if numero==5:
    break           # si numero es =5 sale del lazo y termina
  print(numero)
  numero=numero+1

1
2
3
4

# While continue

In [13]:
numero=0

while numero <10:
  numero =numero+1
  if numero %2==0:
    print("continue")     
    continue            # continue no muetsra el valor, a menos que imprimas(aqui no toma los pares)
  print(numero)

1
continue
3
continue
5
continue
7
continue
9
continue

In [14]:
numero=0

while numero <10:
  numero =numero+1
  if numero %2==0:    
    continue            # continue no muetsra el valor, a menos que imprimas(aqui no toma los pares)
  print(numero)

1
3
5
7
9

# Black Jack
El jugador obtiene una carta y va sumandolas hasta obtener el numero 21 o el mas cercano posible

In [18]:
import random
random.randint(00,14)  #numeros aleatorios enteros

11

In [30]:
suma=0
while suma <=21:
  nueva_carta=random.randint(1,13)
  suma=suma+nueva_carta
  print(f"carta nueva es: {nueva_carta}")
  print(f"la suma total es: {suma}")
  if(suma==21):
    print(f"sumaste: {suma} ¡black jack!")
    break
  elif suma <21:
    opcion =input("Deseas otra carta? (S/N): ")
    if opcion=='N':
      print(f"la suma final es {nueva_carta}")
      break
  elif suma >21:
    print("Perdiste :c")
    break

carta nueva es: 1
la suma total es: 1
Deseas otra carta? (S/N): S
carta nueva es: 1
la suma total es: 2
Deseas otra carta? (S/N): S
carta nueva es: 6
la suma total es: 8
Deseas otra carta? (S/N): S
carta nueva es: 8
la suma total es: 16
Deseas otra carta? (S/N): S
carta nueva es: 11
la suma total es: 27
Perdiste :c

#Bucle for

In [31]:
gustos_manuchao=["los aviones","viajar","la mañana","el viento","soñar","la mar"]

In [32]:
for gusto in gustos_manuchao:
  print(f"Me gusta {gusto}, me gustas tú")

Me gusta los aviones, me gustas tú
Me gusta viajar, me gustas tú
Me gusta la mañana, me gustas tú
Me gusta el viento, me gustas tú
Me gusta soñar, me gustas tú
Me gusta la mar, me gustas tú

#ZIP
Puede recorrer varias listas de forma simultánea

In [37]:
nombres=["Mark Zuckerberg","Jack Dorsey","Steve Jobs","Bill Gates"]
empresas=["Facebook","Twitter","Apple","Microsoft"]
precio_accion=[24.7, 293.6, 499.2, 288.2]

for variable in zip(nombres, empresas):
  print(variable)

('Mark Zuckerberg', 'Facebook')
('Jack Dorsey', 'Twitter')
('Steve Jobs', 'Apple')
('Bill Gates', 'Microsoft')

In [39]:
# si tenog una variable no puedo acceder por separado a los elementos, pero
# puedo tomar como tuplas y tomar valores separados

nombres=["Mark Zuckerberg","Jack Dorsey","Steve Jobs","Bill Gates"]
empresas=["Facebook","Twitter","Apple","Microsoft"]
precio_accion=[24.7, 293.6, 499.2, 288.2]

for nombre, empresa, precio in zip(nombres, empresas, precio_accion):
  print(f"{nombre} fundó la empresa: {empresa}, y las acciones tienen un precio de {precio}")

Mark Zuckerberg fundó la empresa: Facebook, y las acciones tienen un precio de 24.7
Jack Dorsey fundó la empresa: Twitter, y las acciones tienen un precio de 293.6
Steve Jobs fundó la empresa: Apple, y las acciones tienen un precio de 499.2
Bill Gates fundó la empresa: Microsoft, y las acciones tienen un precio de 288.2

In [6]:
range(1,10)
print(list(range(1,10))) # genera una lista de 1 al 10
print(list(range(1,10,2))) # pasos de 2 en 2

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [8]:
for numero in range(1,20,2):
  print(numero)

1
3
5
7
9
11
13
15
17
19

In [11]:
# imprimir una lista de los cuadrados de: {3,7,11,15,19,23}

cuadrados=[]

for num in list(range(3,25,4)):
  cuadrados.append(num)
cuadrados

[3, 7, 11, 15, 19, 23]

In [15]:
cuadrados=[]

for num in list(range(1,10)):
  cuadrados.append(num**2)
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## comprension de listas

In [14]:
cuadrados= [numero**2 for numero in range(1,10)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
cuadrados=[]

for num in list(range(1,10)):
  if num%2==0:
    cuadrados.append(num**2)
cuadrados

[4, 16, 36, 64]

In [18]:
cuadrados= [numero**2 for numero in range(1,10) if numero%2==0]
cuadrados

[4, 16, 36, 64]

# FOR- diccionarios

In [40]:
empresas=["Facebook","Twietter","Apple","Microsoft"]
precio_accion=[24.7, 293.6, 499.2, 228.2]

In [41]:
# se crea un diccionario con los valores de "empresas" y precio_accion""
dict_acciones={}

for empresa, precio in zip(empresas, precio_accion):
  dict_acciones[empresa]=precio
dict_acciones

{'Facebook': 24.7, 'Twietter': 293.6, 'Apple': 499.2, 'Microsoft': 228.2}

In [42]:
dict_accione_compacta={empresa:precio for empresa,precio in zip(empresas, precio_accion)}
dict_accione_compacta

{'Facebook': 24.7, 'Twietter': 293.6, 'Apple': 499.2, 'Microsoft': 228.2}

In [44]:
# deseo tomar un filtrado donde as acciones tengan determinado valor

dict_filtrado={empresa:precio for empresa,precio in zip(empresas, precio_accion) if precio > 250}
dict_filtrado

{'Twietter': 293.6, 'Apple': 499.2}

# Enumerate

In [45]:
lista_compras =["naranjas","manzanas","peras","uvas"]
# mostrar los elemtos de la lista
lista_compras

['naranjas', 'manzanas', 'peras', 'uvas']

In [46]:
for fruta in lista_compras:
  print(fruta)

naranjas
manzanas
peras
uvas

In [48]:
# enumerate permite colocar un índice en orden
for fruta in enumerate(lista_compras):
  print(fruta) #toma una tupla de 2 valores

(0, 'naranjas')
(1, 'manzanas')
(2, 'peras')
(3, 'uvas')

In [49]:
for nume,fruta in enumerate(lista_compras):
  print(f"{nume} se tiene la fruta {fruta}")

0 se tiene la fruta naranjas
1 se tiene la fruta manzanas
2 se tiene la fruta peras
3 se tiene la fruta uvas

In [51]:
# cambiar el inicio de enumeración desde 1
for nume,fruta in enumerate(lista_compras,1):
  print(f"{nume}. {fruta}")

1. naranjas
2. manzanas
3. peras
4. uvas

# Ejercicios

In [57]:
# escribir un programa que reciba un numero de un usuario y que imprima los cubos de los numeros menosres a este

nume=int(input("Ingrese un numero: "))

cubos=[num**3 for num in list(range(1,nume))]
cubos

Ingrese un numero: 5

[1, 8, 27, 64]

In [62]:
print(list(range(5))) # empieza en cero
print(list(range(1,5))) # defino los limites, desde 1 al 5

[0, 1, 2, 3, 4]
[1, 2, 3, 4]

In [63]:
# escribir un programa que reciba un numero de un usuario e imprima si el numero es primo o no

In [147]:
numero=int(input("Ingrese un numero:"))

primo= True  #inicializo que si es primo

if numero%2==0 and numero!=2: # todos los numeros pares NO son primos
  primo=False
else:
  for divisor in range(3, numero, 2): # tomo los numeors impares, hasta propio el número
    if numero %divisor==0:
      primo=False
      break
# se marca la bandra en True o False para ver si es primo
if primo:
  print(f"{numero} es primo")
else:
  print(f"{numero} NO es primo, es divisible entre {divisor} y {numero//divisor}")

Ingrese un numero:35
35 NO es primo, es divisible entre 5 y 7

In [152]:
## factorial de un numero

numero =5
producto=1

for n in range(1,numero+1):     # en el rango no se incluye el extremo derecho, el mayor valor
  producto=producto*n
print(f"el factorial de {numero} es {producto}")

el factorial de 5 es 120